extends layout

block stylesheet
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/index.css')

block script
	script(type="text/javascript", src="/js/bootstrap/tooltip.js")
	script(type="text/javascript", src="/js/bootstrap/modal.js")
	script(type="text/javascript", src="/js/bootstrap/popover.js")
	script(type="text/javascript", src="/js/index.js")

mixin display_node(json, depth)
	ul.list-unstyled
		for key in Object.keys(json)
			li
				if (typeof json[key] == 'object')
					div.node.row(key="#{key}")
						div.col-xs-4
							div(style="margin-left:#{depth*18}px;")
								a(href="#" class="node-caret" data-toggle="tooltip" data-placement="bottom" title="Expend")
									i.fa.fa-caret-right.fa-fw
									|&nbsp;#{key}
								|&nbsp;&nbsp;
								a(href="#" class="node-action node-action-edit hidden" data-toggle="popover")
									i.fa.fa-pencil
								|&nbsp;
								a(href="#" class="node-action node-action-delete hidden")
									i.fa.fa-times
								|&nbsp;
								a(href="#" class="node-action hidden" data-toggle="tooltip")
									i.fa.fa-plus
						div.col-xs-4
							div(style="border-left: 1px grey solid;")
								span
									|&nbsp;
						div.col-xs-4
							div(style="border-left: 1px grey solid;")
								span
									|&nbsp;
					div.node-children.hidden
						+display_node(json[key], depth+1)
				else
					div.node-leaf.row(key="#{key}")
						div.col-xs-4
							div(style="margin-left:#{(depth+1)*18}px;")
								span
									|&nbsp;#{key}&nbsp;&nbsp;	
								a(href="#" class="node-action node-action-edit hidden")
									i.fa.fa-pencil
								|&nbsp;
								a(href="#" class="node-action hidden")
									i.fa.fa-times
								a(href="#" class="node-action hidden translate_this")
									span.glyphicon.glyphicon-send
						div.col-xs-4.col-ref
							div(style="border-left: 1px grey solid;")
								div.leaf.ref
									input(class="form-control hidden leaf_ref" value="#{json[key]}")
									span.leaf-value
										|#{json[key]}

						div.col-xs-4.col-lng
							div(default_value="#{json[key]}" style="border-left: 1px grey solid;")
								div.leaf.target
									input(class="form-control hidden leaf_lng" ref_value="#{json[key]}").leafinfut
									span
										|&nbsp;

mixin display_header()
	div.row(style="border-bottom: 2px grey solid;")
		div.col-xs-4
			div.text-center(style="height: 35px; font-size: 20px;")
				span
					|Keys
			div.text-center
				span expend&nbsp;

					a(id="expend" href="#" style="font-size: 14px; margin-top: 3px;" expended="false")
						| all		
					span
						|&nbsp;|&nbsp;
					a(id="expend_empty" href="#" style="font-size: 14px; margin-top: 3px;" expended_empty_leafs="false")
						| empty leafs
		div.col-xs-4
			div(class="text-center" style="border-left: 1px grey solid; height: 35px; font-size: 20px;")
				span
					|English
		div.col-xs-4
			div(class="text-center" style="border-left: 1px grey solid; height: 35px;")
				div(class="btn-group dropdown-select")
					button(type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown")
						span#lng_value(class="select-value" value="")
							|-
						|&nbsp;
						span.caret
					ul(class="dropdown-menu text-left")
						for lng in available_lng
							- if (lng.lng == "") {
								li.disabled
									a(href="#" value="#{lng.lng}" class="disabled")
										|#{lng.name} (#{lng.lng})
							- } else {
								li
									a(href="#" value="#{lng.lng}")
										|#{lng.name} (#{lng.lng})
							- }
			div.progress
				div#progress-bar(class="progress-bar" role="progressbar" style="width:100%;")
					| choose a lng for % progression

block content
	div.navbar.navbar-default.navbar-fixed-top
		div.container
			div#API_KEY(key=api_key).hidden
			//div(class="page-header header")
			ul(class="nav nav-pills pull-right")
				li
					button(id="button_save" class="btn btn-primary" style="margin: 10px;")
						|Save
					
			h3
				|Translator
				small
					|&nbsp;-&nbsp;
					span#state
						|unsaved
					span#progress-info
	div(class="container")
		div(class="panel panel-default")
			div(class="panel-body")
				+display_header()
				div#root
					+display_node(json_ref, 0)
				div#popover_edit.hidden
					div.head
						|Edit key
					div.content
						div.row
							div.form-horizontal
								div.col-xs-12
									div.form-group
										label(for="#input_name" class="col-xs-5 text-right")
											|Key name
										div.col-xs-7
											input(id="input_name" class="form-control" placeholder="Key name")
						div.row
							div.col-xs-12.text-right
								button(id="edit_key_button" type="button" class="btn btn-sm btn-primary")
									|Save